<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      FoxChatter
      <!--MyMarist Portal-->
      <div id="portal_button"> 
        <img src = "images/redfox.png" alt = "MyMaristPortal" id ="redfox"> MyMarist
      </div>
    </header>
    <main>
      <div id="newsfeed"> 
        
      </div>

    </main>
    <footer>
      <span id="site_info">Copyright &copy; 2020: Marist College est. 1929</span>
      <a href="/">Click here to go back to the home page!</a>
    </footer>
    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>
  </body>

</html>